@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
	--primary: #00875f;
	--secondary: #e5f3ef;
	--background: #f7fbfa;
	--lightGreen: #f0faf8;
	--textColor: #000000;
}

.dark {
	--nav: #04241a;
	--primary: #d7a022;
	--secondary: #000000;
	--background: #04241a;
	--lightGreen: #021610;
	--textColor: #ffffff;
}

/* width */
::-webkit-scrollbar {
	width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #04241a;
}
